* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(bgimage.jpg);
  background-size: cover;
  background-color: black;
}
.box {
  height: 100vh;
  /* width: 100vw;
  background-color: black;
  opacity: 0.68; */
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1vw;
  color: white;
  align-items: baseline;
}
.nav1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: #ed7515;
  cursor: pointer;
}
.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav2 div {
  padding-left: 3vw;
  padding-right: 3vw;

  font-family: sans-serif;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}
.nav3 div:hover {
  color: #ed7515;
}

/* SEARCH INPUT */
.nav3 {
  display: flex;
}
.nav3 input {
  color: white;
  font-weight: bold;
  padding: 0.5vw;
  border: 1px solid #ed7515;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  margin: 0;
  background-color: inherit;
}
.nav3 input::placeholder {
  color: white;
}
.nav3 button {
  margin: 0;
  color: white;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;

  background-color: #ed7515;
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10vh;
}
/* TEXT CONTENT */
.content {
  height: 70vh;
  width: 60vw;
}

h1 {
  color: white;
  font-size: 4em;
}
.content :nth-child(2) {
  color: #ed7515;
  font-size: 5em;
}

p {
  color: white;
  font-family: sans-serif;
  line-height: 2;
}

.content button {
  background-color: #ed7515;
  border: none;
  padding-left: 8vh;
  padding-right: 8vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 1vh;
  color: black;
  font-weight: 500;
  font-family: sans-serif;
  font-size: medium;
  cursor: pointer;
}
/* LOGIN CARD */
.login-card {
  height: 65vh;
  width: 20vw;
  background-color: rgba(0, 0, 0, 0.837);
  border-radius: 1vw;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-card button {
  border: none;
  /* margin: 3vh; */
  cursor: pointer;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 0.5em;
  font-size: large;
  font-weight: 600;
}
.login-card input {
  /* margin: 3vh; */
  border-color: #ed7515;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ed7615bb;

  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  /* border-top-left-radius: 0.5em; */
  background-color: inherit;
  background-color: rgba(0, 0, 0, 0);
}
.login-card input::placeholder {
  color: white;
  font-family: sans-serif;
  font-weight: 500;
}

#login-here {
  color: #ed7515;
  background-color: white;
}
#login {
  color: black;
  background-color: #ed7515;
}
.login-card p {
  text-align: center;
}
a {
  color: #ed7515;
  text-decoration: none;
}

/* LOGOS */
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo-container img {
  height: 5vh;
  cursor: pointer;
}
