* {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

nav {
  background-color: green;
  padding: 20px;
}

header {
  position: sticky;
  top: 0;
}

.content {
  background-color: rgb(119, 206, 126);
  display: flex;
  justify-content: space-around;
  padding: 10vh;
}

.box {
  height: auto;
  width: 30vw;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  font-family: "poppins", "sans-serif";
}

.box:first-child {
  background-color: coral;
}

.box:nth-child(2) {
  background-color: rgb(10, 145, 248);
}
footer {
  background-color: rgb(177, 123, 228);
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "poppins";
}

.banner-main {
  background-color: gray;
  padding: 10vh;
}

.banner {
  font-family: "poppins";
  font-size: 10vh;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgb(47, 47, 47);
  color: aliceblue;
}

a img {
  height: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
