* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #cb8cfb;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

.card {
  background-color: white;
  width: 20vw;
  height: 70vh;
  border-radius: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  padding: 2vw;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head-1 img {
  width: 3.6vw;
}

.head-2 img {
  width: 2vw;
}

.product-image {
  align-items: center;
  display: flex;
  justify-content: center;
}
.product-image img {
  height: 15vw;
  border-radius: 10px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  padding-bottom: 10px;
}

.description {
  font-family: sans-serif;
  color: rgb(78, 78, 78);
  padding-bottom: 2em;
}

.foot {
  display: flex;
  justify-content: center;
}
button {
  background-color: #cb8cfb;
  width: 18vw;
  border: none;
  color: white;
  padding: 1vh;
  border-radius: 1em;
  font-family: sans-serif;
  font-size: larger;
}
